<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table ng-table="$ctrl.userTableParams" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="user in $data">
          <td title="'UserId'" sortable="'userId'">
            {{user.userId}}</td>
          <td title="'Id'" sortable="'id'">
            {{user.id}}</td>
          <td title="'Title'" sortable="'title'">
            {{user.title}}</td>
          <td title="'Body'" sortable="'body'">
            {{user.body}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>